html {
  --body-bg: #15181f;
  --paragraph-color: #262626;
  --text-color: white;
  --block-bg: #242833;
  --input-color: #868686;
  --button-bg: #303642;

  --color-main-gradient: linear-gradient(90deg, rgb(63, 175, 97) 0%, rgba(40, 180, 135, 1) 100%);
  --color-main: #33b274;
  --color-main-hover: #21945c;

  --green: #2ed95c;
  --blue: #5891ed;
  --purple: #7f2b42;
  --red: #e3342f;
}
